@model ResAktWebb.Models.RestaurantInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";

}

<div class="my-div">
    <h1>Detaljer</h1>

    <div>
        <h4>Restauranginformation</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Name)*@Namn
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Open)*@Öppet
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Open)
            </dd>
            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Closed)*@Stängt
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Closed)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Redigera</a> |
        <a asp-action="Index">Tillbaka till lista</a>
    </div>
</div>
