@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @if (User.Identity.IsAuthenticated)
    {
        <div class="jumbotron">
            <h1 class="display-3">@ViewBag.LoginMessage</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    }

    @if (!User.Identity.IsAuthenticated)
    {
        <h3 class="display-3">Welcome guest!</h3>

    }

</div>



@Html.ActionLink("GUEST", "Index","Guest") <br />
@Html.ActionLink("FULL MENU", "FullMenu", "RestaurantInfo")

<br />
<br />
<hr />


<script>

    $(function () {

        // toggla av klassen för popbox
        $("#myBtn").click(() => {
            $("#pop").toggleClass("toggle-pop")
        });

        // Visa toast att bokning är skapad
        $("#go").click(() => {
            //SHOW TOAST
            alert("Bokning skapad");
        });
    });


</script>

<button id="myBtn">show/hide</button>

<div class="pop-fixed-box">
    <div class="pop-box toggle-pop" id="pop">
        <h3 style="color:red;">Form som skall fyllas</h3>
        
        <form method="post">
            <input type="text"/>
            <input type="submit" value="GO" id="go"/>
        </form>
        
    

    </div>
</div>
